.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .headerLogoContainer {
  }

  .headerTitle {
    // font-weight: 500;
    // font-size: 25px;
  }

  .headerLogo {
    /* orig dimensions are 2144x1599 */
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .logoutContainer {
  }

  .logoutImage {
    /* orig dimensions are 980 x 750 */
    width: 26.1px;
    height: 20px;
    cursor: pointer;
  }
  .settingsContainer {
  }
  .settingsImage {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
