.playerChallengeAndResults {
  .title {
    text-align: center;
  }

  .nextChallenge {
    border-radius: 5px;
    border: 1px solid black;
    // height: 150px;
  }

  .myResultsLink {
    text-align: center;
  }
}